body{
    background:url('bg.jpg') ;
    background-size: cover;
    background-position: center;
}
span#condition {
    font-size: 40px;
}
div#error{
    display: none;
}
div#details{
    display: none;
}
div.card{
    display: none;
}
div#units{
    display: none;
}